:host ::ng-deep .tree-gray {
  font-style: italic;
}

:host ::ng-deep .tree-yellow {
  color: #ffc107;
  font-weight: bold;
}

.search-input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}
