<ng-template #treeNode let-item let-level="level" let-treeStyle="treeStyle">
  <div [style.margin-left.px]="level * 20">
    <div [class]="treeStyle === 'gray' ? 'tree-gray' : 'tree-yellow'">
      <input type="checkbox"
             [checked]="isChecked(item)"
             [indeterminate]="isIndeterminate(item)"
             (change)="onCheckboxChange(item, $event)"/>
      <span>{{ item.name }}</span>
    </div>

    @if (hasChildren(item)) {
      <ng-container *ngTemplateOutlet="treeNode;
        context: {
          $implicit: item,
          level: level + 1,
          treeStyle: treeStyle
        }">
      </ng-container>
    }
  </div>
</ng-template>

@for (item of data(); track item.id) {
  <ng-container *ngTemplateOutlet="treeNode;
    context: {
      $implicit: item,
      level: level(),
      treeStyle: treeStyle()
    }">
  </ng-container>
}
<!--https://stackoverflow.com/questions/61147987/rendering-recursive-html-using-ngtemplateoutlet-in-angular-->
